---
import LayoutBase from '../layouts/LayoutBase.astro';
---

<LayoutBase title="Comunidad y Territorio">

<section class="container">

  <h1 class="section-title">
    Comunidad y Territorio
  </h1>

  <p>
    Fortalecemos los procesos organizativos,
    el liderazgo comunitario y la construcción
    colectiva del territorio.
  </p>

</section>

</LayoutBase>