---
import LayoutBase from '../layouts/LayoutBase.astro';
---

<LayoutBase title="Cultura y Estética">

<section class="container">

  <h1 class="section-title">
    Cultura y Estética
  </h1>

  <p>
    Promovemos el arte, la música,
    las expresiones culturales y la
    identidad afrodescendiente.
  </p>

</section>

</LayoutBase>