---
import LayoutBase from '../layouts/LayoutBase.astro';
---

<LayoutBase title="Memoria e Identidad">

<section class="container">

  <h1 class="section-title">
    Memoria e Identidad
  </h1>

  <p>
    Recuperamos y difundimos las historias,
    saberes, tradiciones y procesos culturales
    de las comunidades afrodescendientes.
  </p>

</section>

</LayoutBase>