---
import LayoutBase from '../layouts/LayoutBase.astro';
---

<LayoutBase title="Oportunidades">

<section class="container">

  <h1 class="section-title">
    Oportunidades
  </h1>

  <p>
    Compartimos convocatorias, becas,
    empleos, cursos y oportunidades
    para la comunidad.
  </p>

</section>

</LayoutBase>