<footer class="footer">

  <h2>ASHÉ</h2>

  <p>
    La Fuerza Cultural que mueve el Territorio
  </p>

  <br>

  <p>
    📷 Instagram:
    @conexion.ashe
  </p>

  <p>
    ✉️ Correo:
    ashemedioafro@gmail.com
  </p>

  <br>

  <p>
    © 2026 ASHÉ Medio Comunitario Afro
  </p>

</footer>