---
const menuItems = [
  { name: "Inicio", href: "/" },
  { name: "Memoria e Identidad", href: "/memoria" },
  { name: "Comunidad y Territorio", href: "/comunidad" },
  { name: "Cultura y Estética", href: "/cultura" },
  { name: "Oportunidades", href: "/oportunidades" },
];
---

<header class="header">
  <div class="header-container">

    <a href="/" class="logo-container">
      <img src="/images/logo.jpeg" alt="Logo ASHÉ" class="logo" />

      <div class="logo-text">
        <h1>ASHÉ</h1>
        <p>MEDIO COMUNITARIO AFRO</p>
      </div>
    </a>

    <nav class="nav">
      {
        menuItems.map((item) => (
          <a href={item.href}>{item.name}</a>
        ))
      }
    </nav>

  </div>
</header>