<section class="hero">

  <div class="hero-content">

    <h1>ASHÉ</h1>

    <h2>
      La Fuerza Cultural que mueve el Territorio
    </h2>

    <p>
      Memoria, identidad, cultura y procesos organizativos de las comunidades afrodescendientes en Bogotá.
    </p>

    <a href="#pilares" class="btn-principal">
      Explorar Contenidos
    </a>

  </div>

</section>