<section class="hero">
  <div class="hero-overlay">
    <div class="hero-content">
      <h1>ASHÉ</h1>
      <h2>La Fuerza Cultural que mueve el Territorio</h2>

      <p>
        Visibilizamos las memorias, culturas, liderazgos y procesos
        organizativos de las comunidades afrodescendientes en Bogotá.
      </p>

      <a href="#pilares" class="btn-principal">
        Explorar Contenidos
      </a>
    </div>
  </div>
</section>