<section class="proposito">

  <div class="container">

    <h2 class="section-title">
      Nuestro Propósito
    </h2>

    <p>
      Somos un medio comunitario afro que busca visibilizar las culturas,
      tradiciones, saberes y procesos organizativos de las comunidades
      negras, afrocolombianas, raizales y palenqueras presentes en Bogotá.
    </p>

  </div>

</section>