---
import Header from '../components/Header.astro';
import '../styles/global.css';

const { title = 'Inicio' } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{title} | ASHÉ Medio Comunitario Afro</title>

  <meta
    name="description"
    content="ASHÉ - Medio Comunitario Afro dedicado a la memoria, identidad, cultura y territorio afrodescendiente."
  />

  <meta name="author" content="ASHÉ" />

  <link rel="icon" type="image/jpeg" href="/images/logo.jpeg" />
</head>

<body>

  <Header />

  <main>
    <slot />
  </main>

</body>
</html>